.card-body{
    border: solid lightblue 2px;
}
.imgUs{
  height: 40vh;
}
.gasimg{
  width: 100%;
  height: 20vh;
  padding: 2vh;
}
.page{
  color: white;
    text-align: center;
    font-size: medium;
    margin: 0%;
}
.swachimg{
  width: 100%;
  height: 3vh;
}